#home-hero {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    padding-top: 0;
}

.home-hero {
    &__text {
        position: absolute;
        top: 30vh;
        padding: 25px 10px;
    }
    &__title {
        margin-right: 10px;
        font-size: 4rem;
        font-family: $handwriting;
    }
    &__subtitle {
        font-size: 2rem;
        font-family: $font-light;
    }
    &__ctas {
        position: absolute;
        top: 16rem;
        width: 100%;
    }
    &__cta {
        width: 100%;
        margin-bottom: 1rem;
        border: 1px solid #fff;
        border-radius: 0;
        transition: border-radius 0.5s;
        &:hover {
            border-radius: 1.5rem;
        }
    }
    &__cta-link {
        width: 100%;
        font-size: 1rem;
        text-transform: uppercase;
        display: inline-block;
        text-align: center;
        line-height: 3rem;
        &:hover {
            text-decoration: none;
        }
    }
}