.home-service {
    width: 100%;
    padding-bottom: 30px;
    &--curved-square {
        border-radius: 50px;
    }
    &--shadow {
        box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
    }
    &__container {
        width: 100%;
        height: 100%;
    }
    &__top,
    &__bottom {
        width: 100%;
    }
    &__image,
    &__title,
    &__bottom {
        width: 100%;
        text-align: center;
        padding: 5%;
    }
    &__image>img {
        height: 150px;
        width: auto;
        margin: 0 auto;
    }
}