#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
}

.navbar {
    background-color: $primary;
    font-family: $font-light;
    font-size: 0.75rem;
    &>.container {
        justify-content: center;
    }
    & a {
        color: $text-light;
        text-decoration: none;
    }
    padding: 0;
}

.navbar-collapse {
    flex-grow: 0;
    @media only screen and (max-width: 767px) {
        order: 3;
    }
}

.navbar-toggler {
    color: $accent;
    order: 2;
}

.navbar-brand {
    font-size: 3.0rem;
    margin: 0 25px;
    font-family: $handwriting-bold;
    @media only screen and (max-width: 767px) {
        order: 1;
    }
}

.menu-item {
    text-align: center;
}