// Colours
$primary: #673AB7;
$dark-primary: #512DA8;
$light-primary: #D1C4E9;
$text-primary: #212121;
$text-secondary: #757575;
$text-light: #FFFFFF;
$accent: #009688;
$divider: #BDBDBD;
// Fonts
@font-face {
    font-family: 'junctionbold';
    src: url('../fonts/Junction-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'junctionlight';
    src: url('../fonts/Junction-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'junctionregular';
    src: url('../fonts/Junction-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'danielregular';
    src: url('../fonts/Daniel-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'danielblack';
    src: url('../fonts/Daniel-Black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'danielbold';
    src: url('../fonts/Daniel-Bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$font-bold: 'junctionbold';
$font-light: 'junctionlight';
$font: 'junctionregular';
$handwriting: 'danielregular';
$handwriting-bold: 'danielbold';
$handwriting-black: 'danielblack';
// Nav Bar
$navbar-light-toggler-bg: $dark-primary;