body {
    font-family: $font;
    line-height: 2rem;
}

section {
    padding: 5rem 0;
}

.row--no-overflow {
    overflow: hidden;
}

.row-centre {
    justify-content: center;
}

.row-space-around {
    justify-content: space-around;
}