#home-hero,
#home-hero-particles {
    background-size: cover;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    padding-top: 0;
    height: 1000px;
}

.home-hero {
    &__text {
        position: absolute;
        top: 5rem;
        padding: 25px 0;
    }
    &__title {
        text-align: center;
        margin-right: 10px;
        font-size: 4rem;
        font-family: $handwriting;
    }
    &__subtitle {
        text-align: center;
        font-size: 2rem;
        font-family: $font-light;
    }
    &__cta-container {
        height: 1065px;
        transform: skewX(20deg);
    }
    &__ctas {
        position: absolute;
        top: 10rem;
        width: 100%;
        @include media-breakpoint-up(xl) {
            top: 12rem;
        }
    }
    &__cta {
        width: 50%;
        transform: skewX(-20deg);
        margin: 1.5rem auto;
        border: 2px solid #fff;
        border-radius: 1.25rem;
        transition: border-radius 0.5s;
        &:hover {
            border-radius: 0;
        }
    }
    &__cta-link {
        width: 100%;
        font-size: 1rem;
        font-family: $font-light;
        display: inline-block;
        text-align: center;
        line-height: 2.5rem;
        &:hover {
            text-decoration: none;
        }
    }
}